@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #331A15;
  --color-secondary: #E3B577;
  --color-base-200: #F5F4F1;
  --color-accent: #5C5B5B;
}